#### Q1.What is a database? Differentiate between SQL and NoSQL databases.

* A database is a structured collection of data organized and stored in a computer system. It is designed to efficiently store, retrieve, and manage large amounts of information. Databases are used in various applications and industries to store and organize data in a way that facilitates data manipulation, analysis, and retrieval.

* SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that differ in their data models, storage mechanisms, and querying languages:

1. SQL Databases: 
   SQL databases are based on the relational data model and use structured query language (SQL) for managing and manipulating the data. They organize data into tables with predefined schemas, where each table consists of rows and columns. The relationship between tables is established using primary and foreign keys. Some popular SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
    Key characteristics of SQL databases:
* Structured data with predefined schemas
* Support for ACID (Atomicity, Consistency, Isolation, Durability) properties
* Well-suited for complex queries and transactions
* Strong data consistency guarantees
* Vertically scalable (scaling by adding more resources to a single server)

2. NoSQL Databases:
    NoSQL databases encompass various non-relational data models and provide flexible schema designs. They are designed to handle large amounts of unstructured and semi-structured data efficiently. NoSQL databases offer different data models such as key-value, document, columnar, and graph databases. Some popular NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.
    Key characteristics of NoSQL databases:
* Flexible schema, allowing for dynamic and unstructured data
* Distributed and horizontally scalable (scaling by adding more servers to the database cluster)
* Eventual consistency model
* Support for large-scale data storage and high write/read throughput
* Well-suited for handling semi-structured and unstructured data, such as JSON documents or time-series data

    In summary, SQL databases are based on the relational model and use SQL for data manipulation, while NoSQL databases provide various data models and are designed for handling large amounts of unstructured or semi-structured data. The choice between SQL and NoSQL databases depends on the specific requirements of the application, data model complexity, scalability needs, and performance considerations.

#### Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

    DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

* Here are the explanations of the commonly used DDL statements:   
1. CREATE:
    The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It specifies the name of the object, its structure, and any associated constraints or properties.
* For example, to create a new table named "Employees" with columns for "ID," "Name," and "Salary," we can use the following SQL statement:
    CREATE TABLE Employees (
    ID INT,
    Name VARCHAR(50),
    Salary DECIMAL(10,2)
   );

2. DROP:
    The DROP statement is used to remove or delete existing database objects. It permanently deletes the object and its associated data from the database.
    For example, to delete the "Employees" table created above, we can use the DROP TABLE statement:
    " DROP TABLE Employees;"

3. ALTER:
    The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object.
    For example, to add a new column named "Department" to the "Employees" table, we can use the ALTER TABLE statement:
    " ALTER TABLE Employees
      ADD Department VARCHAR(50);"
      
4. TRUNCATE:The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact. It is faster than the DELETE statement for removing all records from a table since it doesn't generate individual row-level delete operations. 

     For example, to remove all data from the "Employees" table, we can use the TRUNCATE TABLE statement:
     " TRUNCATE TABLE Employees;"

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate or modify data within a database. DML statements are primarily used to insert, update, and delete data in database tables.
1. INSERT:
    The INSERT statement is used to insert new records into a table. It specifies the table name and the values to be inserted into the corresponding columns. For example, to insert a new employee record into an "Employees" table with columns for "ID," "Name," and "Salary," you can use the following SQL statement:
    "INSERT INTO Employees (ID, Name, Salary)
    VALUES (1, 'John Doe', 50000);"
2. UPDATE:
    The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns based on specified conditions. For example, to update the salary of an employee with ID 1 to 60000, we can use the following SQL statement:
    "UPDATE Employees
    SET Salary = 60000
    WHERE ID = 1;"
    
3. DELETE:
    The DELETE statement is used to delete one or more records from a table based on specified conditions. It permanently removes the selected records from the table. For example, to delete the employee record with ID 1 from the "Employees" table, we can use the following SQL statement:
    "DELETE FROM Employees
    WHERE ID = 1;"

#### Q4.What is DQL? Explain SELECT with an example.

* DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve or query data from a database. DQL statements are primarily used to retrieve specific data or generate reports based on specified criteria.

* The most commonly used DQL statement is SELECT, which allows us to retrieve data from one or more tables in a database. Here's an explanation and an example of the SELECT statement:

* SELECT:
    The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, filter the data based on conditions, sort the results, perform calculations, and more. The basic syntax of the SELECT statement is as follows:
   * "SELECT column1, column2, ...
     FROM table_name
     WHERE condition;"
* Here's an example that demonstrates the usage of SELECT:
    Consider a table named "Employees" with columns "ID," "Name," "Salary," and "Department." To retrieve the names and salaries of all employees earning more than $50,000, we can use the following SQL statement:
  * " SELECT Name, Salary
    FROM Employees
    WHERE Salary > 50000;"

#### Q5.Explain Primary Key and Foreign Key.

* Primary Key:
    A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in the table. It ensures that each row in the table has a unique identifier. The primary key constraint guarantees the uniqueness and the non-nullability of the key values.
* Key characteristics of a primary key:

1. Uniqueness: Each value in the primary key column(s) must be unique. No two rows in the table can have the same primary key value.
2. Non-nullability: The primary key column(s) cannot have null values. Every row must have a value in the primary key column(s).
3. Single value or combination: The primary key can be a single column or a combination of columns, depending on the requirements of the table structure.
4. Indexing: Primary keys are typically indexed to optimize query performance and enforce uniqueness efficiently.
* Example:
    Consider a table named "Customers" with columns "CustomerID," "Name," "Email," and "Phone." To set the "CustomerID" column as the primary key, we can define it as follows:
    * CREATE TABLE Customers (
      CustomerID INT PRIMARY KEY,
       Name VARCHAR(50),
      Email VARCHAR(100),
      Phone VARCHAR(20)
       );
2. Foreign Key:
* A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It represents a reference to the primary key column(s) of another table. The foreign key constraint maintains the referential integrity between related tables.

* Key characteristics of a foreign key:

1. Referential relationship: The foreign key references the primary key of another table, establishing a relationship between the two tables.
2. Data consistency: The foreign key ensures that the values in the referencing column(s) correspond to the values in the referenced primary key column(s).
3. Optional or mandatory: Depending on the relationship, a foreign key column can allow null values or be non-null.
4. Cascading actions: Foreign keys can have cascading actions such as ON DELETE or ON UPDATE, which specify the actions to be performed on related rows when the referenced rows are deleted or updated.

* Example:
    Consider two tables, "Orders" and "Customers." The "Orders" table has a foreign key relationship with the "Customers" table, where the "CustomerID" column in the "Orders" table references the primary key "CustomerID" in the "Customers" table. The foreign key constraint ensures that every order in the "Orders" table corresponds to a valid customer in the "Customers" table.
    * "CREATE TABLE Orders (
        OrderID INT PRIMARY KEY,
        OrderDate DATE,
        CustomerID INT,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
        );"

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

* To connect Python to MySQL, you can use the mysql-connector-python library. First, make sure you have the library installed by running pip install mysql-connector-python in your terminal. Then, you can use the following code to establish a connection and execute SQL queries:

In [ ]:
import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database_name"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a SQL query
query = "SELECT * FROM your_table_name"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

* The cursor() method creates a cursor object, which allows you to execute SQL queries and fetch results from the database. The cursor acts as a control structure that enables you to interact with the database. It provides methods such as execute(), fetchone(), fetchall(), etc., to execute queries and retrieve data.

* The execute() method is used to execute SQL queries. It takes the SQL query as a parameter and sends it to the database for execution. You can provide placeholders in the query string and pass values as a tuple or dictionary to perform parameterized queries. The execute() method returns the number of affected rows for queries that modify the data.

#### Q7.Give the order of execution of SQL clauses in an SQL query.

* The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: Specifies the table(s) from which the data will be retrieved.
2. WHERE: Filters the rows based on specified conditions.
3. GROUP BY: Groups the rows based on specified columns.
4. HAVING: Filters the groups based on specified conditions.
5. SELECT: Specifies the columns to be retrieved from the table(s).
6. DISTINCT: Removes duplicate rows from the result set.
7. ORDER BY: Sorts the result set based on specified columns.
8. LIMIT/OFFSET: Limits the number of rows returned or skips a certain number of rows.

* However, it's important to note that the SQL query optimizer might rearrange the order of execution based on the query plan it generates. The database optimizer's goal is to determine the most efficient way to execute the query based on factors such as indexes, statistics, and query complexity. Therefore, the actual execution order may vary depending on the specific database system and query optimization techniques employed.